<app-website-navbar></app-website-navbar>
<app-website-carousel></app-website-carousel>
<div id="available-courses">
    <div class="container mt-4 mb-4">
        <div class="text-center mb-4">
            <h2>Explore Our Courses</h2>
            <p class="text-muted">Discover a variety of courses to enhance your skills</p>

        </div>
        <app-available-courses></app-available-courses>
    </div>
</div>
<app-website-pricing></app-website-pricing>
<app-website-aboutus></app-website-aboutus>
<app-website-testimonials></app-website-testimonials>
<app-website-contactus></app-website-contactus>
<app-wesite-footer></app-wesite-footer>